:root {
    --charcoal: #444;
    --blue: #0000ff;
    --red: #ff0000;
    --electric-violet: #fc00ff;
    --egg-blue: #00dbde;
}

body {
    font-family: 'Helvetica';
    color: var(--charcoal);
}

h1 {
    margin: 0 0 48px;
    font-size: 36px;
}

button {
    margin-right: 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

input,
button {
    &:focus {
        outline: 0;
    }
}

.wrapper {
    max-width: 1100px;
    min-height: 100vh;
    margin: 0 auto;
}
