.bar {
    z-index: 1;
    position: absolute;
    transform: translateY(-50px);
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #fc00ff -50%, #00dbde 100%);
    color: #fff;
    transition: transform .5s ease;

    & p {
        font-size: 14px;
    }
}

.isOpen {
    transform: translateY(0);
    transition: transform .5s ease;
}

.closeButton {
    position: absolute;
    top: 18px;
    right: 10px;
    background: none;
    color: #fff;
    margin: 0;
    font-size: 10px;
}
