.bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #fff;
    background-image: linear-gradient(to top, #fc00ff -50%, #00dbde 100%);
    transition: transform .5s ease;
    transform: translateY(-50px);

    & p {
        font-size: 14px;
    }
}

.isOpen {
    transition: transform .5s ease;
    transform: translateY(0);
}

.closeButton {
    position: absolute;
    top: 18px;
    right: 10px;
    margin: 0;
    font-size: 10px;
    color: #fff;
    background: none;
}
