.dashboard {
    padding: 36px;

    .button {
        min-width: 200px;
        padding: 15px 10px;
        color: #fff;
        background-image: linear-gradient(to right, #fc00ff 0%, #00dbde 100%);
    }
}
