.items {
    min-width: 200px;
    position: absolute;
    top: 84px;
    background-color: #fff;
    padding: 0 7px;
    list-style: none;

    a {
        display: block;
    }

    button {
        padding: 0;
    }

    a,
    button {
        margin-bottom: 12px;
    }
}
