.label {
    display: block;
    margin-bottom: 24px;
}

input {
    display: block;
    width: 100%;
    margin: 6px 0 0;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;

    &::placeholder {
        color: var(--charcoal);
    }
}

.error {
    color: var(--red);

    & input {
        border: 1px solid var(--red);
    }

    & div {
        font-size: 12px;
        color: var(--red);
        margin-top: 6px;
    }
}
