.label {
    display: block;
    margin-bottom: 24px;
}

.error {
    font-size: 12px;
    color: red;
    margin-top: 6px;
}

input {
    display: block;
    margin-top: 6px;
    padding: 5px;
    font-size: 14px;
}
