.container {
    padding: 36px 0;
    font-size: 16px;

    & button {
        color: var(--egg-blue);
        font-size: 10px;
    }

    & input {
        display: inline-block;
        width: 200px;
        margin-right: 24px;
        border: none;
        border-bottom: 1px solid var(--egg-blue);
    }
}

.add {
    margin-bottom: 60px;
}

.items {
    margin: 0;
    padding: 0;

    & .item {
        list-style: none;

        & p {
            display: inline-block;
            min-width: 200px;
            margin: 0 24px 0 0;
            padding: 12px 0;
        }
    }
}
