body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    color: #0000ff;
    font-family: helvetica;
    font-weight: bold;
    font-size: 16px;

    & button {
        display: inline-block;
        color: #0000ff;
        cursor: pointer;
        font-size: 10px;
        border: none;

        &:focus {
            outline: 0;
        }

        &:hover {
            color: red;
        }
    }

    & input {
        min-width: 200px;
        margin-right: 24px;
        padding: 11.5px 0;
        border: none;
        border-bottom: 1px solid #0000ff;
        font-size: 16px;
        color: #0000ff;

        &:focus {
            outline: 0;
        }
    }
}

.add {
    margin-bottom: 60px;
}

.items {
    margin: 0;
    padding: 0;

    & .item {
        list-style: none;

        & p {
            display: inline-block;
            min-width: 200px;
            margin: 0 24px 0 0;
            padding: 12px 0;
        }
    }
}

::-webkit-input-placeholder {
  color: #0000ff;
}
